body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color: #1E0606;
}

.visually-hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}


/* HEADER */

.header {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.header a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
}

.header a:hover {
    opacity: 0.5;
}

.header a:active {
    opacity: 0.2;
}

.header-logo {
    display: block;
}

.main-menu {
    margin: 0 auto 0 20px;
}

.header-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 21px;
}

.contact-link {
    font-weight: 700;
    letter-spacing: 0.50px;
}


/*search form*/

.search-form {
    position: relative;
    width: 300px;
    margin-right: 9px;
    height: 24px;
}

.search-text {
    height: 24px;
    width: 0;
    padding: 0 15px 0;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.search-text:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 2px solid #000000;
}

.search-img {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 9px;
}

.search-form:hover {
    opacity: 0.5;
}

.search-form:active {
    opacity: 0.2;
}